<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    
    {% block head %}
    {{ encore_entry_link_tags('admin') }}
    {% endblock %}
</head>
<body>
<div class="wrapper">

    <!--navigatiebalk toggle effect bootstrap-->
    <header class="header bg-light fixed-top">
        <nav class="navbar navbar-expand-md navbar-light fixed-top">
        <div class="container h-100 justify-content-between">
            <a class="navbar-brand h-100 mr-auto" href="{{ path('homepage') }}"> 
                <img class="h-100" src="{{ asset('images/EWAHaaglanden_logo.png') }}" alt="EWA haaglanden">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 bg-light text-right">
                    <li class="nav-item ">
                        <a class="nav-link" href="{{ path('homepage') }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('showNieuws') }}">Nieuws</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('showPartners') }}">Partners</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('showInformatie') }}">Informatie</a>
                    </li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item"> <a class="nav-link " href="{{ path('showBeheer') }}" tabindex="-1" >Beheer</a></li>
                        <li class="nav-item"> <a class="nav-link " href="{{ path('app_logout') }}" tabindex="-1" >Uitloggen</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link " href="{{ path('app_login') }}" tabindex="-1" >Inloggen</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    </header>
            
    
    
    <!--    einde navigatiebalk-->

    <div class="content">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% block content %}
        {% endblock %}
    </div>

    <noscript>
        <strong>We're sorry but Ewa Haaglanden doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>


    <footer class="footer">
        <div class="footer-copyright text-center" style>
            <div class="container text-center text-white">
                &copy; 2020. Gemaakt op basis van ontwerp en prototype van Michael Schaap, student van het
                <a href="https://www.rocmondriaan.nl"
                        target="_blank"
                        rel="noopener"
                >ROC Mondriaan </a>
            </div>
        </div>
    </footer>
</div>


{% block script  %}
{{ encore_entry_script_tags('admin') }}
{{ encore_entry_script_tags('cookieconsent') }}
{% endblock %}

</body>
</html>


